@import url('normalize.css');
/* 1.2 Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General Styles */
html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit
}

nav,
ul,
li {
   text-decoration: none;
   list-style: none;
   padding-left: 0px;
}

body {
   font-family: helvetica, verdana, sans-serif;
   font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: sansita, Eurostyle, sans-serif;
}